INTRODUCTION TO LISTS

In [1]:
# List are ordered ,mutable collections of items
# They can contain items of different data types

In [16]:
# 1 Introduction to lists
# 2 Creating lists
# 3 Accessing List Elements
# 4 Modifying List Elements
# 5 List Methods
# 6 Slicing Lists
# 7 Iterating over Lists
# 8 List comprehensions
# 9 Nested Lists
# 10 practical Examples and common errors

In [4]:
list=[]
print(type(list))

<class 'list'>

In [10]:
names=["Rugved","Athrva","Abhay","tanmay"]
print(names)

['Rugved', 'Athrva', 'Abhay', 'tanmay']

In [9]:
names=["Rugved","Athrva","Abhay","tanmay",2,3,4,5]
print(names)

['Rugved', 'Athrva', 'Abhay', 'tanmay', 2, 3, 4, 5]

In [11]:
mix_names=["Rugved",1,1.12,True]
print(mix_names)

['Rugved', 1, 1.12, True]

In [13]:
# Accessing List element
# Start from 0 index

fruits=["apple","banana","cherry","kiwi","gauva"]

In [17]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [31]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[4:0:-1])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['gauva', 'kiwi', 'cherry', 'banana']

In [44]:
fruits1=["apple","banana","cherry","kiwi","gauva"]
print(fruits1)

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [45]:
fruits1[1]="watermeloan"

In [46]:
print(fruits1)

['apple', 'watermeloan', 'cherry', 'kiwi', 'gauva']

In [48]:
fruits1[1:]="watermeloan"
print(fruits1)

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'a', 'n']

In [49]:
# List methods

In [51]:
# append
fruits1=["apple","banana","cherry","kiwi","gauva"]
fruits1.append("orange") # add the orange in last
print(fruits1)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [3]:
fruits1=["apple","banana","cherry","kiwi","gauva"]

In [4]:
# insert well add the element in the list
fruits1.insert(1,"watermeloan")  
print(fruits1)

['apple', 'watermeloan', 'banana', 'cherry', 'kiwi', 'gauva']

In [11]:
fruits1.insert(1,"watermeloan")  
print(fruits1)

['apple', 'watermeloan', 'banana', 'watermeloan', 'cherry', 'kiwi', 'gauva']

In [12]:
# Remove function remove the element from the list
fruits1.remove("watermeloan")
print(fruits1)

['apple', 'banana', 'watermeloan', 'cherry', 'kiwi', 'gauva']

In [ ]:
# Remove and return the last
pop=fruits1.pop()
print(pop)   # Last element of the list will be pop (remove)
print(fruits1)

gauva
['apple', 'banana', 'watermeloan', 'cherry', 'kiwi']

In [14]:
index=fruits1.index("cherry")
print(index)

3

In [ ]:
# Count the element how many time present in this list
print(fruits1.count("banana"))

1

In [ ]:
# Sort = it will arange by disanding order
fruits1.sort()

In [18]:
fruits1

['apple', 'banana', 'cherry', 'kiwi', 'watermeloan']

In [19]:
# reverse = it will arrange by asanding order
fruits1.reverse()

In [20]:
fruits1

['watermeloan', 'kiwi', 'cherry', 'banana', 'apple']

In [21]:
# Remove all items in list
fruits1.clear()

In [22]:
fruits1

[]

Slicing List

In [25]:
num=[1,2,3,4,5,6,7,8,9,10]  # it will start from index
print(num[1:5])
print(num[:5])
print(num[5:])
print(num[::2])
print(num[::-1])

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Iterating over list
Numm=[2,3,4,5,6,7,8,9]
for number in Numm:
    print(number)

2
3
4
5
6
7
8
9

In [46]:
# iterating with index
no=[2,3,4,5,6,7]
for index,num in enumerate(no):
    print(index,num)

0 2
1 3
2 4
3 5
4 6
5 7

List Comprehension

In [1]:
y=[]
for x in range(10):
   y.append(x**2) 
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# [what you want ,operation]
[k**2 for k in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehension

Basic Syantax [Expression for item in iterable]      

With conditional [Expresion for item in iterable if condition]

NESTED list comprehension [Expression for item1 in iterable1 for item2 in iterable2 ]

In [ ]:
# Basic
sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# with condition
list=[]
for i in range(10):
    if i%2==0:
        list.append(i)
print(list)

[0, 2, 4, 6, 8]

In [11]:
even=[num for num in range(10) if num%2==0]
print(even)

[0, 2, 4, 6, 8]

In [5]:
# Nested List
list=[[1,2,3,4],[4,5,6],["hi",3.14]]
list[0]

[1, 2, 3, 4]

In [6]:
list[0][2]

3

In [8]:
list[0][0:3]

[1, 2, 3]

In [12]:
#  nested list comphrension
l1=[1,2,3,4]
l2=["a","b","c","d"]
pair=[[i,j] for i in l1 for j in l2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [13]:
# List comprehension with function
words=["rugved","ArithmeticError","AssertionError"]
lengths=[len(word)for word in words]
print(lengths)

[6, 15, 14]